<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

<button class="bg-gray-600 hover:bg-blue-800  rounded px-4 py-2">tailwind</button>

<button class="btn">daisyUI</button>
<button class="btn btn-secondary">btn btn-secondary</button>
