    <div class="relative bg-center w-full bg-no-repeat bg-cover h-[calc(100vh-134px)]" style="background-image: url('<%= asset_path("top.jpg") %>');z-index: -1;">
      <div class="absolute inset-0 flex justify-center items-center text-3xl text-blue-300 text-center">

        <div class="artboard artboard-horizontal phone-4  bg-white rounded-md opacity-75 ">
            <div class="color_list">
              <div class="color_selection grid grid-flow-col px-4 mb-10">
                <div class="w-16 h-16 bg-blue-500 rounded-full animate-float"></div>
                <div class="w-12 h-12 bg-red-500 rounded-full animate-float"></div>
                <div class="w-20 h-20 bg-green-500 rounded-full animate-float"></div>
                <div class="w-12 h-12 bg-red-500 rounded-full animate-float"></div>
                <div class="w-20 h-20 bg-green-500 rounded-full animate-float"></div>
                <div class="w-12 h-12 bg-red-500 rounded-full animate-float"></div>
                <div class="w-20 h-20 bg-green-500 rounded-full animate-float"></div>
              </div>
              <div class="color_selection grid grid-flow-col px-4 ">
                <div class="w-16 h-16 bg-blue-500 rounded-full animate-float"></div>
                <div class="w-12 h-12 bg-red-500 rounded-full animate-float"></div>
                <div class="w-20 h-20 bg-green-500 rounded-full animate-float"></div>
                <div class="w-12 h-12 bg-red-500 rounded-full animate-float"></div>
                <div class="w-20 h-20 bg-green-500 rounded-full animate-float"></div>
                <div class="w-12 h-12 bg-red-500 rounded-full animate-float"></div>
                <div class="w-20 h-20 bg-green-500 rounded-full animate-float"></div>
              </div>
            </div>
        </div>
      
      </div>
    </div>
