    <div class="relative bg-center w-full bg-no-repeat bg-cover h-[calc(100vh-134px)]" style="background-image: url('<%= asset_path("top.jpg") %>');z-index: -1;">
      <div class="absolute inset-0 flex justify-center items-center text-3xl text-blue-300 text-center">
        <p class="w-full">Your Inner Text Here</p>
      </div>
    </div>