        <%= image_tag ("top.jpg"), class: "relative bg-center w-full bg-no-repeat bg-cover h-auto min-h-screen" %>
        <div class="absolute inset-0 flex justify-center items-center text-3xl text-center">

          <div style="height: 400px; padding-left: 70px; border-radius: 2rem;" class="artboard artboard-horizontal phone-6 grid grid-rows-2 bg-white">
              <div style="padding-top: 50px;" class="fieeling_section ">
                    <h2 style="padding-bottom: 12px;">今日の気分は？</h2>
                    <label class="text-3xl lg:text-2xl md:text-lg sm:text-md ">
                      あなたの今の気分をカラーボールから<br>直感で選んでみてください
                    </label>
              </div>
              <%= render 'shared/form', color: @color %>
          </div>
        </div>
      </div>
