<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <label for="my-drawer" class="drawer-button cursor-pointer">Open drawer</label>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-100 p-8">
      <!-- Sidebar content here -->
      <li><a>Sidebar Item 1</a></li>
      <li><a>Sidebar Item 2</a></li>

<%# 一覧テーブル %>
<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Favorite Color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img
                  src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                  alt="Avatar Tailwind CSS Component" />
              </div>
            </div>
            <div>
              <div class="font-bold">Hart Hagerty</div>
              <div class="text-sm opacity-50">United States</div>
            </div>
          </div>
        </td>
        <td>Purple</td>
      </tr>
  </table>
</div>

<%# ここまで %>




<%#選択カラーボールの一覧画面  %>
<% @colors.each do |color| %>

<% if color && color.mood_color_id.present? %>
<% color_class = Color.class_for_id(color.mood_color_id.to_i) %>
<div class="flex">
<p class=""><%= "#{color.user.last_name}" %>さんが選んだ色は</p>
<div class="color-ball w-8 h-8 rounded-full <%= color_class %>"></div>
</div>
<% end %>
<% end %>
<%# ここまで %>
    </ul>
  </div>
</div>


