<% flash.each do |message_type, message| %>
<% if flash[:success] %>
<div role="alert" class="relative z-50 ">
  <div class="border border-t-0 absolute top-2/4 border-green-400 shadow-md rounded-md py-4 px-2 my-3 mx-3  text-white bg-green-400">
    <%= message_type %> :
    <%= message %>
  </div>
</div>
<% else %>
<div role="alert" class="relative z-50">
  <div class="border border-t-0 absolute top-3/4 border-red-400 shadow-md rounded-md py-4 px-2 my-3 mx-3  text-white bg-red-400">
    <%= message_type %> :
    <%= message %>
  </div>
</div>
<% end %>
<% end %>